@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Tambahan untuk Peta agar tidak gepeng */
.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 0.75rem;
  z-index: 0;
}
/* Memastikan peta punya tinggi dan tidak gepeng */
.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 0.75rem;
  z-index: 10;
}

/* Scrollbar cantik (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}